.title {
    color: white;
    text-align: center;
    font-family: 'Exo2.0';
    font-size: 36px;
    line-height: 44px;
}

.cardsContainer {
    display: flex;
    margin: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
}