.cardBody {
    position:relative;
    width: 320px;
    height: 480px;
    padding-left: 50px;
    box-sizing: border-box;
    background: url('../../img/default_back.svg');
    background-repeat: no-repeat;
}

.selected {
    background: url('../../img/active_back.svg');
}

.disabled {
    background: url('../../img/disabled_back.svg');
}

.cardHeader {
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    border-radius: 0 10px 0px 0px;
    background-color: white;
    border: 4px solid #2EA8E6;
    border-bottom: none;
    border-left: none;
}

.cardWrapper {
    font-family: 'Trebuchet MS';
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 48px;
}

.sup-titles {
    margin-left: 20px;
    margin-top: 21px;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #666666;
}

.description {
    position: absolute;
    bottom: -30px;
    color: white;
}

.weight {
    position: absolute;
    left: 70%;
    top: 75.44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #2EA8E6;
    border-radius: 50%;
    color: white;
    font-weight: 400;
    font-size: 32px;
    line-height: 22px;
}

.weight.selected {
    background: none;
    background-color: #D91667;
}

.weight.disabled {
    background: none;
    background-color: #B3B3B3;
}

.link {
    cursor: pointer;
    color: #22A7E9;
}

.disabledDescription {
    color: #FFFF66;
}

.cardTitle {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}

.sub-titles {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 0px;
}

.text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: #666666;
}

.unit {
    font-weight: 400;
    font-size: 42px;
    line-height: 22px;
}